.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
}
.nav-logo{
    width: 20%;
    padding: 8px;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-left img{
    width: 140px;
}
.navbar-left ul{
    display: flex;
    list-style-type: none;
    gap: 80px;
}
.navbar-left ul li{
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
}
.navbar-right li{
    list-style-type: none;
}
.navbar-right .icons{
    width: 15px;
    cursor: pointer;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    position: relative;
}
.navbar .dropdown{
    position: absolute;
    top: 100%;
    right:-100px;
    width: max-content;
    background-color: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 14px;
    cursor: pointer;
}
.navbar-profile:hover .dropdown{
    display: block;
    transition: 300ms ease-in-out;
}
.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}
.theme-toggle{
    background-color: black;
    padding: 12px;
}
.fa-moon{
    color: white;
    background-color: black;
    font-size: 16px;
}

