.footer{
    padding: 30px;
    max-width: 1300px;
}
.footer-icons{
    display: flex;
    gap: 40px;
    margin: 40px 0;
}
.footer-icons img{
    width: 30px;
    cursor: not-allowed;
}
.footer ul{
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin-bottom: 30px;
    list-style-type: none;
    cursor: pointer;
}
.copyright-text{
    color: gray;
    font-size: 14px;
    text-align: center;
}
.footer__link--hover-effect {
    position: relative;
}

.footer__link--hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.footer__link--hover-effect--white:after {
    background-color: #fff;
}

.footer__link--hover-effect:hover:after {
    left: 0;
    width: 100%;
}
.footer__search--icon{
    cursor: pointer !important;
}

@media (max-width:800px) {
    .footer-icons img{
        width: 25px;
    }
    .footer ul{
        font-size: 14px;
    }
}